<article>
    <a href="/dashboard">&larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <br>
            <br>
            <textarea name="post-text" id="post-text" placeholder="{{post.post_content}}"></textarea>
        </div>
        <button type="submit">Save Post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>